<!DOCTYPE html>
<html lang="en" ng-app="superhero">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title>Sistema Mocket</title>
      <!-- STYLES -->
      <!-- build:css lib/css/application.min.css -->
      <link rel="stylesheet" type="text/css" href="public/css/application.css"/>
      <link rel="stylesheet" type="text/css" href="public/css/format_footer.css"/>
      <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
      <link rel="icon"       type="image/png" href="public/img/favicon.ico"/>
      <!-- endbuild -->

      <!-- SCRIPTS -->
      <!-- build:js lib/js/application.min.js -->
      <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
      <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
      <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="lib/angular-ui-validate/dist/validate.js"></script>
      <script type="text/javascript" src="lib/angular-md5/angular-md5.js"></script>
      <!-- endbuild -->
      <script type="text/javascript" src="lib/js/package_angular.min.js"></script>
  </head>
  <body style="font-family: Montserrat;">
    <h1>Você está logado dentro do sistema!</h1>
    <h2>Ânderson</h2>
    <button type="submit" class="btn btn-default"><a href="/logout">SAIR DO SISTEMA</a></button>
  </body>
</html>
