<!DOCTYPE html>
<html lang="en" ng-app="superhero">
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">

      <title ng-controller="ctrlIndex">{{applicationName}} - Dashboard</title>
      <!-- STYLES -->
      <!-- build:css lib/css/application.min.css -->
      <link rel="stylesheet" type="text/css" href="public/css/application.css"/>
      <link rel="stylesheet" type="text/css" href="public/css/format_footer.css"/>
      <link rel="stylesheet" type="text/css" href="public/css/sidebar.css"/>
      <link rel="stylesheet" type="text/css" href="lib/bootstrap/dist/css/bootstrap.min.css"/>
      <link rel="stylesheet" type="text/css" href="lib/font-awesome/css/font-awesome.min.css"/>
      <link rel="icon" type="image/png" href="public/img/favicon.ico">
      <!-- endbuild -->

      <!-- SCRIPTS -->
      <!-- build:js lib/js/application.min.js -->
      <script type="text/javascript" src="lib/jquery/jquery.min.js"></script>
      <script type="text/javascript" src="lib/angular/angular.min.js"></script>
      <script type="text/javascript" src="lib/angular-route/angular-route.min.js"></script>
      <script type="text/javascript" src="lib/angular-animate/angular-animate.js"></script>
      <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
      <script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="lib/angular-ui-validate/dist/validate.js"></script>
      <script type="text/javascript" src="lib/angular-md5/angular-md5.js"></script>
      <!-- endbuild -->
      <script type="text/javascript" src="lib/js/package_angular.min.js"></script>
  </head>
  <body style="font-family: Montserrat;">
    <div id="wrapper" ng-class="class" ng-controller="ctrlIndex">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand">
            <a ng-href="/" ng-click="toggleSideBar()"><span class="menu-icon"><img src="img/logos/awges_white_icon.png" alt="logo" class="icon"/></span>{{applicationName}}</a>
          </li>
          <li id="page_main" class="sidebar-list">
            <a ng-href="dash"><span class="menu-icon fa fa-laptop"></span>Principal</a>
          </li>
          <li id="page_users" class="sidebar-list">
            <a href="users"><span class="menu-icon fa fa-user"></span>Usuários</a>
          </li>
        </ul>
        <!-- User Wrapper -->
        <div id="user-wrapper ">
            <h5 style="color:#848484; text-decoration:none;">
              Bem vindo,
            </h5>
            <h4 style="color:#848484; text-decoration:none;">
              <script> user="<%= user.profile.name %>";</script>
              {{user}}
            </h4>
            <a href="#" ng-click="logout()" style="color: white; text-decoration:none;">
              Sair
            </a>
            <br>
            <!-- <a href="#/pass" id="8" onclick="pageInd(this.id)" style="color: white; text-decoration:none;">
              Alterar a senha
            </a> -->
        </div>
      </div>
      <!-- Page Content -->
      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="col-lg-12">
            <div class="row">
              <div id="pageIndicator"></div>
            </div>
          </div>
          <div id="mainWindow" class="row">
            <div ng-view></div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
