<!DOCTYPE html>
<html lang="en" ng-app="superhero">
  <head>
      <title ng-controller="loginForm">{{applicationName}} - Alterar a senha</title>
      <link rel="icon" type="image/png" href="img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="lib/css/application.min.css">
      <script type="text/javascript" src="lib/js/application.min.js"></script>
      <script type="text/javascript" src="lib/js/package_angular.min.js"></script>
  </head>
  <body style="font-family: Montserrat; background-color: #eee;">
    <div id="main" class="container">
      <div class="col-sm-4 col-sm-offset-4" ng-controller="loginForm">
        <div class="card card-container">
          <div class="row" style="text-align:center;">
            <img src="img/logos/logo_awges.png" alt="AWGES IoT" style="margin-top: -15px; width:25%;"/>
          </div>
          <div class="row" style="text-align:center;">
            <h2>{{applicationName}}<sup><font size="2">™</font></sup></h2>
          </div>
          <div class="row">
            <form name="userForm" ng-submit="passForm()" novalidate>
              <p style="color: #3c763d; text-align:center; font-size: large;">
                {{status_recover_success}}
              </p>
              <p style="color: #a94442; text-align:center; font-size: large;">
                {{status_recover_fail}}
              </p>
              <div class="form-group">
                  <input type="text" name="hash_verf" class="form-control" placeholder="código recebido por e-mail" ng-model="user.hash_verf" required>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
                  <input type="password" class="form-control" name="password" placeholder="nova senha" ng-model="user.password" ng-minlength="5" required>
                  <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Senha muito pequena.</p>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : userForm.password_ok.$invalid && !userForm.password_ok.$pristine }">
                  <input type="password" class="form-control" name="password_ok" placeholder="confirme a nova senha" ng-model="user.passwd_ok" required ui-validate="'$value==user.password'" ui-validate-watch=" 'password' ">
                  <p ng-show="!!userForm.password_ok.$error.validator" class="help-block">Senhas não conferem</p>
              </div>
              <div class="row" style="text-align:center;">
                <button type="submit" class="btn btn-primary" ng-class="sent" ng-disabled="userForm.$invalid">Enviar</button>
              </div>
              </br>
              <p>Voltar para <a href="/login" ng-click="redirect('login')"> login</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a style="color:black;" href="http://awges.com">AWGES</a>.</p>
      </div>
    </div>
  </body>
</html>
