<!DOCTYPE html>
<html lang="en" ng-app="superhero">
  <head>
      <title>Erro 404</title>
      <link rel="icon" type="image/png" href="img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="lib/css/application.min.css">
      <script type="text/javascript" src="lib/js/application.min.js"></script>
      <script type="text/javascript" src="lib/js/package_angular.min.js"></script>
  </head>
  <body style="font-family: Montserrat; background-color: #eee;">
    <div id="main" class="container">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="card card-container">
          <div class="row shake" style="text-align:center;">
            <a href="login">
              <img src="img/logos/logo_awges.png" alt="AWGES IoT" style="margin-top: -15px; width:55%;"/>
            </a>
          </div>
          <h1 style="color: #a94442; text-align:center; font-size: large;">Endereço não encontrado!</h1>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a style="color:black;" href="http://awges.com">AWGES</a>.</p>
      </div>
    </div>
  </body>
</html>
