<!DOCTYPE html>
<html lang="en" ng-app="superhero">
  <head>
      <title ng-controller="loginForm">{{applicationName}} - Recuperar senha</title>
      <link rel="icon" type="image/png" href="img/favicon.ico">
      <link rel="stylesheet" type="text/css" href="lib/css/application.min.css">
      <script type="text/javascript" src="lib/js/application.min.js"></script>
      <script type="text/javascript" src="lib/js/package_angular.min.js"></script>
  </head>
  <body style="font-family: Montserrat; background-color: #eee;">
    <div id="main" class="container">
      <div class="col-sm-4 col-sm-offset-4" ng-controller="loginForm">
        <div class="card card-container">
          <div class="row" style="text-align:center;">
            <img src="img/logos/logo_awges.png" alt="AWGES IoT" style="margin-top: -15px; width:25%;"/>
          </div>
          <div class="row" style="text-align:center;">
            <h2>{{applicationName}}<sup><font size="2">™</font></sup></h2>
          </div>
          <div class="row">
            <form name="userForm" ng-submit="recoverForm()" novalidate>
              <p style="color: #3c763d; text-align:center; font-size: large;">
                {{status_recover_success}}
              </p>
              <p style="color: #a94442; text-align:center; font-size: large;">
                {{status_recover_fail}}
              </p>
              <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                  <input type="email" name="email" class="form-control" placeholder="usuário@mail.com" ng-model="user.email" required>
                  <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Insira um e-mail válido.</p>
              </div>
              <div class="row" style="text-align:center;">
                <button type="submit" class="btn btn-primary" ng-class="sent" ng-disabled="userForm.$invalid">Recuperar</button>
              </div>
              </br>
              <p>Voltar para <a href="/login"> login</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <p class="text-muted credit">Powered by <a style="color:black;" href="http://awges.com">AWGES</a>.</p>
      </div>
    </div>
  </body>
</html>
